@model IEnumerable<Soloveyko_A_V_Geo_Service.ViewModels.LocationView>

@{
    ViewBag.Title = "Index";
}

<h2>Список координат</h2>
<p>Координаты добавляютя через ссылку "Править" конкретного гео-объекта.</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GeoObjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GeoObjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        
        <td>
            @Html.ActionLink("Править", "Edit", new { id=item.GeoObjectId }) |
            @Html.ActionLink("Просмотреть", "Details", new { id=item.GeoObjectId }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.GeoObjectId })
        </td>
    </tr>
}

</table>
